<div>
  <table>
    <tr>
      <td>
        <input type="text" [ngModel]="fName()" (ngModelChange)="changeFName($event)">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [ngModel]="mName()" (ngModelChange)="changeMName($event)">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [ngModel]="lName()" (ngModelChange)="changeLName($event)">
      </td>
    </tr>

    <tr>
      <td>
        fullName = {{fullName()}}
      </td>
    </tr>
  </table>
</div>

<div>
  <table>
    <tr>
      <td>{{ firstName()}}</td>

    </tr>
    <tr>
      <td>
        <label>Age</label>
      </td>
      <td>
        <input type="text" [value]="age()">
      </td>
    </tr>
    <tr>
      <td>
        <label>phoneNumber</label>
      </td>
      <td>
        <input type="text" [ngModel]="phoneNumber()" />
      </td>
    </tr>

    <tr>
      <td>
        <label>demoName</label>
      </td>
      <td>
        <input type="text" [value]="address | async" />
      </td>
    </tr>

    <tr>
      <td>
        <button (click)="changeName()">Change Name</button>
      </td>
    </tr>

    <app-task-list></app-task-list>
    <br>
    <br>
    <app-sales></app-sales>
    <br>
    <br>
    <app-user-profile></app-user-profile>
    <!-- <app-user-profile></app-user-profile> -->

  </table>
</div>